<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <div class="field pl-4 pt-3">
    <%= form.label :name %> </br>
    <%= form.text_field :name %>
  </div>

  <div class="field pl-4">
    <%= form.label :content %> </br>
    <%= form.text_field :content %>
  </div>

  <div class="actions ml-4 pt-2">
    <%= form.submit %>
  </div>
<% end %>
